header

   .container
      .row
         .col
            nav.navbar
               - var authorised = false
               #user
               if authorised
                  a(href='/profile') Profile
               else
                  a(href='/login') Login